.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.wrapper .header {
  display: flex;
  align-items: center;
}
.wrapper .header h2 {
  flex: 1;
}
.Board {
  width: 640px;
  line-height: 8px;
}
.Board .Cell {
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid #ddd;
  width: 8px;
  height: 8px;
}
.ml-1 {
  margin-left: 0.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.flex {
  display: flex;
}
.w100 {
  width: 100px;
}
